:root {
    --apple-blue: #0071E3;
    --apple-white: #FAFAFA;
    --apple-sky: #0066CC;
    --apple-gray: #86868B;
    --apple-black: #1d1d1f;
    --apple-blue: #0071E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'SF Pro', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/**HEADER**/

.header-cont {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: var(--apple-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
}

.mobile_menu {
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    left: 7px;
    cursor: pointer;
}

.mobile_menu2 {
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    position: absolute;
    margin-top: 0.5rem;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.home img {
    width: 5rem;
    height: 4.5rem;
}

.bag {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
}

.bag img {
    width: 5rem;
    height: 4.5rem;
}

/**COVID**/

.covid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 3rem 0;
    background-color: var(--apple-blue);
}

.covid a {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: var(--apple-white);
}

.covid a:hover {
    text-decoration: underline;
}

.covid span:hover {
    text-decoration: none;
}
/**MAIN**/

main {
    width: 100%;
    height: fit-content;
    background-color: var(--apple-white);
}

.shop-online {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 3rem 1.5rem;
    background-color: var(--apple-white);
}

.shop-online h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: var(--apple-black);
}

.shop-online h3 a {
    color: var(--apple-sky);
    text-decoration: none;
}

.shop-online h3 a:hover {
    text-decoration: underline;
}

.section1 {
    width: 100%;
    height: fit-content;
    background-color: var(--apple-white);
}

.section1-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    z-index: 10;
    background-color: transparent;
}

.section1-text h2 {
    font-size: 3.2rem;
    padding: 3.5rem 0 0.5rem 0;
    color: var(--apple-black);
}

.section1-text h4 {
    font-size: 1.85rem;
    font-weight: 100;
    padding: 0 0 0.5rem 0;
}

.section1-text p {
    font-size: 1.5rem;
    color: var(--apple-gray);
    font-weight: 300;
    padding: 0.5rem 0 0.5rem 0;
}

.lnks {
    display: flex;
    flex-direction: row;
}

.lnks a {
    color: var(--apple-sky);
    font-size: 1.7rem;
    font-weight: 100;
    padding: 0.70rem 1.5rem 0 1rem;
    text-decoration: none;
}

.lnks a:hover {
    text-decoration: underline;
}

/**la imagen de la Macbook tiene un position absolute, overflow hidden y el top y left a 0**/